<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para notificaciones -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Permiso para que salga la alarma incluso cuando está bloqueado-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Permiso para notificaciones al reiniciar móvil-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Permiso para vibración en las alarmas-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuidaMedPill">

        <!-- MainActivity, actividad principal de la app -->
        <activity
            android:name=".controlador.activities.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- WelcomeActivity, registro o inicio de sesion  -->
        <activity
            android:name=".controlador.activities.WelcomeActivity"
            android:exported="false"/>

        <!-- RegistroActivity, registro -->
        <activity
            android:name=".controlador.activities.RegistroActivity"
            android:exported="false" />


        <!-- Notificaciones cuando se reinicia el movil -->
        <receiver
            android:name=".modelo.notificaciones.BootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

        <activity
            android:name=".controlador.activities.AlarmaMedicacionActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>



</manifest>